.select-box {
  display: flex;
  position: relative;
  width: 110px;
  flex-direction: column;
}

.select-box .options-container {
  position: absolute;
  margin-top: 55px;
  background: #fff;
  color: #edece8;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  right: -8px;
  order: 1;
}

.selected {
  position: relative;
  display: flex;
  background: #2DC033;
  border-radius: 8px;
  margin-bottom: 8px;
  padding-left: 50px;
  padding-top:4px;
  color: #f5f6fa;
  order: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.selected::after {
  content: "";
  background: url("../svg/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 10px;
  width: 10px;
  right: 2px;
  top: 11px;
  cursor: pointer;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 140px;
  opacity: 1;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  right: -4px;
}



.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  height: 10px;
  width: 10px;
  top: 8px;
}

.select-box .option
 {
  opacity: 100%;
  padding: 14px 24px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #7B7B7B;
}
.lable {
  display: flex;
  justify-content: center;
}

.select-box .option:hover {
  background: #F7F5F5;
}
.select-box label {
  cursor: pointer;
  opacity: 100%;
  z-index: 1;
}

.select-box .option .radio {
  display: none;
}

@media (max-width:500px) {
  .options-container {
    z-index: 1;
  }
}