/* .average-section {
  display: flex;
  width: 1300px;
  margin: 0 auto;
}
.average-container {
  padding-left: 64px;
  padding-top: 42.5px;
}
.tabs-items {
  display: flex;
}
#a01 {
  width: 76px;
  height: 33px;
  padding-left: 10px;
  border-bottom: 2px solid #DFDFDF;
}
#a01:hover {
  border-bottom: 2px solid #34BC48;
  color: #34BC48;
  cursor: pointer;
}
.active {
  color: #34BC48;
  border-bottom-color: #34BC48;
  background-color: red;
}

.tabs-item:hover {
  color: #34BC48;

}
#a02 {
  width: 176px;
  height: 33px;
  border-bottom: 2px solid #DFDFDF;
  padding-left: 14px;
}
#a02:hover {
  border-bottom: 2px solid #34BC48;
  color: #34BC48;
  cursor: pointer;
}
.tabs-item:hover {
  color: #34BC48;
}

.tabs-item {
  text-decoration: none;
  color: #4F4E57;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.cur-price {
  color: #4F4E57;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
#input-price {
  margin-top: 6px;
  color: #909090;
  border: 2px solid rgba(52, 188, 72, 0.5);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 256px;
  height: 39px;
  padding-left: 12px;
  border-radius: 8px;
  margin-left: -2px;
}
#avg-p {
  color: #4F4E57;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-top: 15px;

}
#avg-price-of-pos {
  color: #4F4E57;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-left: 2px;
  padding-top: 31px;
}
#avg-price-of-pos::after {
  content: ' $';
  color: #4F4E57;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
#apop {
  display: flex;
}
.tabs-block {
  display: none;
}
.tabs-block:target {
  display: block;
}
.current-price {
  display: flex;
  flex-direction: column;
}
.cur-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(79, 78, 87, 1);
  padding-top: 2px;
  margin-bottom: 0px;
}
#input-price {

  color: #909090;
  border: 2px solid rgba(52, 188, 72, 0.5);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 256px;
  height: 38px;
  padding-left: 12px;
  border-radius: 8px;
  margin-left: -2px;
}
.profit {
  margin-left: 26px;
}
.cur-profit {
  margin-top: 16.5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(144, 144, 144, 1);
}
.gggggg {

  display: flex;
  flex-direction: row;
}
.avg-price-container {
  display: flex;

}
.avg-price {
  display: flex;
  flex-direction: column;;
}
.wish-price {
  color: #4F4E57;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0px;
}
.avg-price-container {
  padding-top: 18px;
}
.right {
  padding-left: 25px;
}
.count-of-share {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #4F4E57;
}
#shares {
  padding-top: 29px;
  padding-left: 3px;
}
#shares::after {
  content: ' шт';
}
.count-of-share p {
  padding-top: 12px;
} */



.wrapper {
  width: 1300px;
  margin: 0 auto;
  padding-top: 44px;

}
.tabs-wrapper {
  display: flex;
  padding-left: 64px;
}
.content {
  display: none;
  width: 100%;
}
.tab {
  text-align: center;
  height: 31px;
}
.tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.input {
  display: none;
}
#tab-1:checked ~ .tab-1 {
  color: green;
  border-bottom: 3px solid green;
}
#tab-1:checked ~.content-1 {
  display: block;
}
#tab-2:checked ~ .tab-2 {
  color: green;
  border-bottom: 3px solid green;
}
#tab-2:checked ~.content-2 {
  display: block;
}
.tab-1 {
  width: 86px;
}
.tab-2 {
  width: 176px;
  padding-left: 4px;
}


.cur-price {
  color: #4F4E57;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
#input-price {
  margin-top: 6px;
  color: #909090;
  border: 2px solid rgba(52, 188, 72, 0.5);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 256px;
  height: 39px;
  padding-left: 12px;
  border-radius: 8px;
  margin-left: -2px;
}
#avg-p {
  color: #4F4E57;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-top: 15px;

}
#avg-price-of-pos {
  color: #4F4E57;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-left: 2px;
  padding-top: 31px;
}
#avg-price-of-pos::after {
  content: ' $';
  color: #4F4E57;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
#apop {
  display: flex;
}


.current-price {
  display: flex;
  flex-direction: column;
}
.cur-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(79, 78, 87, 1);
  padding-top: 2px;
  margin-bottom: 0px;
}
#input-price {

  color: #909090;
  border: 2px solid rgba(52, 188, 72, 0.5);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 256px;
  height: 38px;
  padding-left: 12px;
  border-radius: 8px;
  margin-left: -2px;
  background: none;
}
.profit {
  margin-left: 26px;
}
.cur-profit {
  margin-top: 16.5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(144, 144, 144, 1);
}
.count-of-share {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #4F4E57;
}
#shares {
  padding-top: 29px;
  padding-left: 3px;
}
#shares::after {
  content: ' шт';
}
.count-of-share p {
  padding-top: 12px;
}
.gggggg {

  display: flex;
  flex-direction: row;
}
.avg-price-container {
  display: flex;
  padding-top: 18px;
}
.right {
  padding-left: 25px;
}
.avg-price {
  display: flex;
  flex-direction: column;;
}
.wish-price {
  color: #4F4E57;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0px;