body {
  background: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;

  width: 100%;
  background-color: #2DC033;
  height: 70px;
}
.header-container {
  display: flex;
  margin: 0 auto;
  color: white;
  width: 1300px;
  justify-content: space-between;
  align-items: center;
}
.header-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  padding-left: 64px;
}
.spot {
  display: flex;
  padding-right: 52px;
}
.spot span {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding-right: 8px;
}
.arrow {
  display: inline-block;
  margin-top: 4px;
  margin-right: 1px;
  width: 10px;
  height: 10px;
  background: url(../svg/arrow.svg) ;

  background-repeat: no-repeat;
}
.arrow:hover {
  cursor: pointer;
  background: url(../svg/arrow_up.svg) ;
  background-repeat: no-repeat;


}


.dropdown {
  position: relative;
  display: inline-block;
  height: 10px;
 }
.dropdown-content {
  display: none;

  position: absolute;
  right: -9px;
  top: 49px;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 110px;
  height: 137px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.dropdown-content span:hover {
  background-color: #F6F5F5;
  border-radius: 8px;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  transition-delay: 2s;
  display: block;
}

.dropdown-content span {

  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #7B7B7B;
}
/* .dropdown {
  position: absolute;

  right: 0;
  width: 110px;
  height: 173px;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); */



.points-in-out {
  display: flex;
  width: 1300px;
  margin: 0 auto;
}
.points-in {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-left: 64px;
}
.points-out {
  display: flex;
  flex-direction: column;
  width: 560px;
  margin-left: 57px;
}
.points {
  padding-top: 51px;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #333333;
}
.container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.container-up {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  min-height: 190px;

}
.container-content {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
}
.container-content-header {
  display: flex;
  justify-content: space-around;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  height: 39px;
  border-radius: 8px;
  background: linear-gradient(90.5deg, rgba(143, 213, 28, 0.2) 0%, rgba(143, 213, 28, 0.2) 0.01%, rgba(255, 194, 60, 0.16) 46.95%, rgba(253, 134, 255, 0.1) 100.16%);
}
.container-content-header span{
  height: 18px;
  padding-top: 13px;
  padding-right: 7px;
}
.container-content-items {
  display: flex;
  justify-content: space-around;
  padding-top: 23px;
  height: 22px;
  color: #7B7B7B;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.item {
  position: relative;
  display: block;
  height: 22px;
  width: 50px;
  padding-top: 2px;

  padding-right: 20px;
  height: 22px;

}
.item span {

  text-align: center;

}
.currency::after {
  content: " $"
}
.count {
  padding-left: 21px;
  right: -37px;
}
.price {
  padding-left: 25px;
  right: -49px;
}
.sum {
  padding-left: 30px;
  right: -27px;
}
.del {
  position: relative;
  background: white;
  width: 23px;
  height: 23px;
  padding: 0;
  border: none;

}
.del:hover {
  cursor: pointer;
}
.del img {
  position: absolute;
  width: 23px;
  top: -4px;
  left: 0;
}
/* #empty {
  padding-right: -8px;
} */

.container-down {
  display: flex;
  /* flex-direction: column; */

  justify-content: center;
  padding-top: 39px;
  padding-bottom: 46px;
  width: 560px;
  /* height: 124px; */
  margin-top: 4px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}
.container-down-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 48px;
  padding-right: 48px;
  /* justify-content: space-around; */ */
  /* align-content: center;
  align-items: center; */
}
.counter {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 30px;
  background: #FAF8FB;
  border-radius: 8px;
  margin-top: 5px;
}
.counter input::after {
  content: 'шт';
}
.unit-col {
  padding-top: 4px;
  padding-right: 6px;
  color: #4F4E57;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 10;
  height: 22px;
  /* text-align: center; */
  /* margin-left: 0; */
  /* background: none; */
  /* border: none; */
}
.counter-units {
  color: #4F4E57;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 36px;
  height: 22px;
  text-align: center;
  margin-left: 0;
  background: none;
  border: none;
  padding-top: 4px;
}
/* #count::after {
  content: ' шт';} */

.buttons-p-m {
  display: flex;
  width: 63px;
  height: 24px;
  background: #FFFFFF;
  border-radius: 6px;
  margin-top: 3px;
  margin-right: 3px;
}
#plus, #minus {
  background: #FFFFFF;
  width: 31.5px;
  border: none;

}
#plus, #minus:hover {
  cursor: pointer;
}
#plus img {
  padding-top: 2px;
}
#minus {
  padding-left: 3px;
}
.unit {
  margin-top: 5px;
}
.unit-price {
  width: 124px;
  height: 30px;
  color: #333333;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  background-color: #FAF8FB;
  border-radius: 8px;
  border: none;
}
.unit-price::placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}
.add {
  width: 123px;
  height: 40px;
  background: #34BC48;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.add:hover {
  background: #0C9241;
  color: #fff;
  cursor: pointer;
}
.add:active {
  background: #054146;
}
.add:disabled {
  background: #FAF8FB;
  color: #C4C4C4;
}
.average-section {
  display: flex;
  width: 1300px;
  margin: 0 auto;
}
.average-container {
  padding-left: 64px;
  padding-top: 42.5px;
}
.tabs-items {
  display: flex;
}
#a01 {
  width: 76px;
  height: 33px;
  padding-left: 10px;
  border-bottom: 2px solid #DFDFDF;
}
#a01:hover {
  border-bottom: 2px solid #34BC48;
  color: #34BC48;
  cursor: pointer;
}

.tabs-item:hover {
  color: #34BC48;

}
#a02 {
  width: 176px;
  height: 33px;
  border-bottom: 2px solid #DFDFDF;
  padding-left: 14px;
}
#a02:hover {
  border-bottom: 2px solid #34BC48;
  color: #34BC48;
  cursor: pointer;
}
.tabs-item:hover {
  color: #34BC48;
}

.tabs-item {
  text-decoration: none;
  color: #4F4E57;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.cur-price {
  color: #4F4E57;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
#input-price {
  margin-top: 6px;
  color: #909090;
  border: 2px solid rgba(52, 188, 72, 0.5);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 256px;
  height: 39px;
  padding-left: 12px;
  border-radius: 8px;
  margin-left: -2px;
}
#avg-p {
  color: #4F4E57;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-top: 15px;

}
#avg-price-of-pos {
  color: #4F4E57;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-left: 2px;
  padding-top: 31px;
}
#avg-price-of-pos::after {
  content: ' $';
  color: #4F4E57;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
#apop {
  display: flex;
}
.tabs-block {
  display: none;
}
.tabs-block:target {
  display: block;
}
.current-price {
  display: flex;
  flex-direction: column;
}
.cur-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(79, 78, 87, 1);
  padding-top: 2px;
  margin-bottom: 0px;
}
#input-price {

  color: #909090;
  border: 2px solid rgba(52, 188, 72, 0.5);
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 256px;
  height: 38px;
  padding-left: 12px;
  border-radius: 8px;
  margin-left: -2px;
}
.profit {
  margin-left: 26px;
}
.cur-profit {
  margin-top: 16.5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(144, 144, 144, 1);
}
.gggggg {

  display: flex;
  flex-direction: row;
}
.avg-price-container {
  display: flex;

}
.avg-price {
  display: flex;
  flex-direction: column;;
}
.wish-price {
  color: #4F4E57;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0px;
}
.avg-price-container {
  padding-top: 18px;
}
.right {
  padding-left: 25px;
}
.count-of-share {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #4F4E57;
}
#shares {
  padding-top: 29px;
  padding-left: 3px;
}
#shares::after {
  content: ' шт';
}
.count-of-share p {
  padding-top: 12px;
}